table {
  width: 100%;
  margin: $small-spacing 0;
  table-layout: fixed;
  border-collapse: collapse;
  font-feature-settings: 'kern', 'liga', 'tnum';
}


th {
  padding: $small-spacing 0;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid shade($colour-black, 25%);
}

tfoot th {
  border-bottom: none;
}

table caption {
  font-size: 80%;
  font-style: italic;
}

td {
  padding: $small-spacing 0;
  border-bottom: $base-border;
}

tr,
td,
th {
  vertical-align: middle;
}
