.back-to-top {
	display: inline-block;
	height: 50px;
	width: 50px;
  border-radius: 24px;
  z-index: 999;

	position: fixed;
	bottom: 20px;
	right: 80px;
  //padding: 20px;

	box-shadow: 0 0 10px rgba(#000, .05);

	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	background: #333333 url(/assets/img/chevron-up.svg) no-repeat center 46%;

	border: 1px solid #0b0b0b;

	visibility: hidden;
	opacity: 0;

	transition: opacity .3s 0s, visibility 0s .3s;

	&.back-to-top--is-visible, &.back-to-top--fade-out, .no-touch &:hover {
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	&.back-to-top--is-visible { /* the button becomes visible */
		visibility: visible;
		opacity: 1;
	}

	&.back-to-top--fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
		opacity: .5;
	}

	.no-touch &:hover {
		background-color: rgba($colour-black, 1);
		opacity: 1;
	}
}
