$colour-upload: #3e50b4;
$colour-default: $colour-black;
$colour-default-border: $colour-black;
$colour-button: #5c5edc;
$colour-button-close: #50505a;

.btn-unstyled {
  border: 0;
  padding: 0;
  background: 0;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.btn {
  @include btn();
  margin-bottom: 10px;
}

.btn-block {
  display: block;
  width: 100%;
  .styleguide & {
    margin-bottom: $small-spacing;
  }
}

$button-colours: (
  'primary': $colour-primary,
  'secondary': $colour-secondary,
  'tertiary': $colour-tertiary,
  'quaternary': $colour-quaternary,
  'success': $colour-success,
  'info': $colour-info,
  'warning': $colour-warning,
  'danger': $colour-danger,
);


.btn-linx {
  @include btn-colour(#d8225e, $text-colour: white, $style: empower);
}


.btn-no-arrow {
  padding-right: 12px;
  &::after {
    content: none;
  }
}


.entry ul {
  margin: 0 0 1.5em 1.5em;
  list-style: circle;
}
