
// ----------------------------------------------------------------------------
// Content

.content {
}

.content--main {
  h1:first-child,
  h2:first-child,
  h3:first-child {
    margin-top: 3px;
    padding-top: 12px;
  }
}

.content,
.set--content {
  ul {
    list-style: disc;
    margin-left: 1.5em;
    margin-bottom: 0.75em;
  }
}
