doctype html
html
  head
    include partials/doc_head
  body
    main.main
      .wrapper.content(style="padding-top: 10px;")
        .container
          include:markdown ../../resources/enrolment/TOC.md
