fieldset(name="Emergency Contact Details")
  legend.gamma.font-header Emergency Contact Details
  .fieldRow
    .fieldGroup.row
      .groupLabel.third
        label.label(for='emergencyContact') Emergency Contact
      .groupFields.two-third
        .fieldInput
          input.input#emergencyContact(type='text', name='emergencyContact')
  .fieldRow
    .fieldGroup.row
      .groupLabel.third
        label.label(for='emergencyContactRelation') Emergency Contact Relation
      .groupFields.two-third
        .fieldInput
          input.input#emergencyContactRelation(type='text', name='emergencyContactRelation')
  .fieldRow
    .fieldGroup.row
      .groupLabel.third
        label.label(for='emergencyContactPhone') Emergency Contact Phone
      .groupFields.two-third
        .fieldInput
          input.input#emergencyContactPhone(type='text', name='emergencyContactPhone')
