header.linx_college
  .linx_subheader
    p.sub_left.sub_head-text.no-smaller Leading the way in online learning
    .sub_right
      .sub_right-text.sub_head-text
        span.no-small Have a question?&nbsp;
        a.sub_right-enquire(href='#enquirylink') Enquire here
        a.sub_right-call(href='tel:1300 659 772') Call 1300 659 772
      a(href='tel:1300 659 772').sub_right-icon.no-small
        img(src="/phone.svg",width='30',height='30')
  .linx_header.clearfix
    .header-logo
      a(href='http://linx.edu.au/', title='Leading the way in online learning')
        img.header-logo-img(src='linx_logo.png', alt='Leading the way in online learning', height='28')
    .header-nav.no-smaller
      a(href='http://linx.edu.au') Visit main website
