header.page-header(role='banner')
  .container
    .header-logo(itemscope='', itemtype='http://schema.org/Organization', itemprop='url', title='Empower College')
      h1.homepage-header
        a(href='https://empowercollege.edu.au', itemprop='url', title='Empower College')
          img(src='https://empowercollege.edu.au/assets/img/empower-logo.svg', alt='Empower College', width='240', height='65')
    ul.header-menu.header-nav
      li.header-nav--item.bold.header-nav--phone-number
        a(href='tel:1300659772')
          | Call
          span.phonenumber 1300&nbsp;659&nbsp;772
      li.header-nav--item.no-small
        a(href='https://empowercollege.edu.au/#get-more-info')  or Enquire Here
      li.header-nav--item.no-small
        a(href='https://empowercollege.edu.au/learn')  Learn More
      li.header-nav--item.no-small
        a(href='https://empowercollege.edu.au/courses')  Courses
      li.header-nav--item.header-nav--menu-button
        button#open-button.menu-button.menu-button--open Menu
