$font-size-base: 1.4;
$font-family-body: 'Roboto', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-family-header: $font-family-body;

$line-height-base: 1.5;
$line-height-heading: 1.25;

$alpha: 3.2!default;
$beta: 3!default;
$gamma: 2!default;
$delta: 1.8!default;
$epsilon: 1.6!default;
$zeta: 1.6!default;
$too-big: 11!default;
$giga: 7!default;
$mega: 5!default;
$kilo: 3.4!default;
$hecto: 2.64!default;
$deca: 1.6!default;
$micro: 1!default;
$milli: 1.2!default;


$alpha: 2.6 * $font-size-base;
$beta: 2.2 * $font-size-base;
$gamma: 2 * $font-size-base;
$delta: 1.8 * $font-size-base;
$epsilon: 1.6 * $font-size-base;
$zeta: 1.4 * $font-size-base;
$too-big: 10 * $font-size-base;
$giga: 5 * $font-size-base;
$mega: 4 * $font-size-base;
$kilo: 3.4 * $font-size-base;
$hecto: 2.64 * $font-size-base;
$deca: 1.6 * $font-size-base;
$micro: .9 * $font-size-base;
$milli: .8 * $font-size-base;
